{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %} 
{% block title %}上传车源{% endblock %}
{% block head %} 
{{ super() }}
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-fileinput/4.3.6/css/fileinput.min.css">
{% endblock %}
{% block page_content %}
<h1 class="page-header">上传</h1>
<div class="col-md-6">
	<form class="form-horizontal" role="form"> 
		<div class="form-group"> 
			<label for="brand" class="col-sm-2 control-label">{{ form.brand.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.brand(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="model" class="col-sm-2 control-label">{{ form.model.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.model(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="color" class="col-sm-2 control-label">{{ form.color.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.color(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="description" class="col-sm-2 control-label">{{ form.description.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.description(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="frame_number" class="col-sm-2 control-label">{{ form.frame_number.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.frame_number(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="price" class="col-sm-2 control-label">{{ form.price.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.price(class="form-control")}}元
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="first_licensing_date" class="col-sm-2 control-label">{{ form.first_licensing_date.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.first_licensing_date(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="first_licensing_place" class="col-sm-2 control-label">{{ form.first_licensing_place.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.first_licensing_place(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="mileage" class="col-sm-2 control-label">{{ form.mileage.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.mileage(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="type_of_gearbox" class="col-sm-2 control-label">{{ form.type_of_gearbox.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.type_of_gearbox(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="emission_standard" class="col-sm-2 control-label">{{ form.emission_standard.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.emission_standard(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="displacement" class="col-sm-2 control-label">{{ form.displacement.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.displacement(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="number_of_seats" class="col-sm-2 control-label">{{ form.number_of_seats.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.number_of_seats(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="age_of_car" class="col-sm-2 control-label">{{ form.age_of_car.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.age_of_car(class="form-control")}} 个月
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="car_image" class="col-sm-2 control-label">{{ form.car_image.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.car_image(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="registration_image" class="col-sm-2 control-label">{{ form.registration_image.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.registration_image(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="driving_image" class="col-sm-2 control-label">{{ form.driving_image.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.driving_image(class="form-control")}}
  			</div> 
 		</div> 
		<div class="form-group"> 
			<label for="frame_image" class="col-sm-2 control-label">{{ form.frame_image.label }}</label> 
  			<div class="col-sm-6"> 
   				{{ form.frame_image(class="form-control")}}
  			</div> 
 		</div> 
</form>
</div>
{% endblock %}
{% block scripts  %}
{{ super() }}
<script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.6/js/fileinput.min.js"></script>
<script>
//初始化fileinput控件（第一次初始化）
function initFileInput(ctrlName) {    
    var control = $('#' + ctrlName); 

    control.fileinput({
        language: 'zh', //设置语言
        allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀
	maxFileCount: 30, //文件数量
	dropZoneEnabled: true, //是否显示拖拽区域
        showUpload: false, //是否显示上传按钮
        showCaption: true,//是否显示标题
        browseClass: "btn btn-primary", //按钮样式             
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>", 
    });
}
//初始化fileinput控件（第一次初始化）
    initFileInput("car_image");
    initFileInput("registration_image");
    initFileInput("driving_image");
    initFileInput("frame_image");
</script>
{% endblock %}
